<!DOCTYPE html>
<html lang='zh-CN'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>bar.dynamic</title>
    <style>
        .axis {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .axis text {
            font: 11px sans-serif;
            fill: #333;
            stroke: none;
            user-select: none;
        }

        .axis path,
        .axis .tick {
            stroke: #ccc;
        }

        .handle {
            margin: 20px;
        }

        .handle button {
            cursor: pointer;
        }
    </style>

    <body>

        <div id="chart"></div>

        <div class="handle">
            <button id="data1">data1</button>
            <button id="data2">data2</button>
        </div>


        <script type="text/javascript" src="http://cdn.gbtags.com/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.gbtags.com/d3/3.4.11/d3.min.js"></script>
        <script>
            function getDate(day) {
                var dt = new Date();
                dt.setDate(dt.getDate() + day);
                dt.setHours(0, 0, 0)
                return dt;
            }

            var data_1 = [{
                    date: getDate(-2),
                    val: 1212
                },
                {
                    date: getDate(-1),
                    val: 1412
                },
                {
                    date: getDate(0),
                    val: 1132
                },
                {
                    date: getDate(1),
                    val: 1615
                },
                {
                    date: getDate(2),
                    val: 1413
                }
            ];

            var data_2 = [{
                    date: getDate(-4),
                    val: 1512
                },
                {
                    date: getDate(-3),
                    val: 912
                },
                {
                    date: getDate(-2),
                    val: 412
                },
                {
                    date: getDate(-1),
                    val: 2412
                },
                {
                    date: getDate(0),
                    val: 1432
                },
                {
                    date: getDate(1),
                    val: 1275
                },
                {
                    date: getDate(2),
                    val: 2615
                },
                {
                    date: getDate(3),
                    val: 1615
                },
                {
                    date: getDate(4),
                    val: 2313
                }
            ];

            var xAccessor = function (d) {
                return d.date;
            };
            var yAccessor = function (d) {
                return d.val;
            };

            var width = 800;
            var height = 450;
            var left = 40;
            var xEnd = 750;
            var yStart = 400;

            var svg = d3.select('#chart').append('svg')
                .attr('width', width)
                .attr('height', height)
                .style('padding', '10px 20px');

            // 比例尺
            var xScale = d3.time.scale()
                .range([0, xEnd]);

            var yScale = d3.scale.linear()
                .range([yStart, 0]);

            // 坐标轴
            var xAxis = d3.svg.axis()
                .scale(xScale)
                .ticks(d3.time.day, 1)
                .tickFormat(d3.time.format("%Y-%m-%d"))
                .orient('bottom');

            var gxAxis = svg.append('g')
                .attr('class', 'x axis')
                .attr('transform', 'translate(' + left + ',' + yStart + ')')
                .call(xAxis);

            var yAxis = d3.svg.axis()
                .scale(yScale)
                .orient('left');

            var gyAxis = svg.append('g')
                .attr('class', 'y axis')
                .attr('transform', 'translate(' + left + ',0)')
                .call(yAxis);

            var gBar = svg.append('g')
                .attr('class', 'bar');

            // 绘制柱形图
            function drawBar(data) {
                var barSize = gBar.selectAll('rect').size();
                var dateSize = data.length;

                // 设置比例尺定义域
                var xExtents = [
                    d3.time.day.offset(d3.min(data.map(xAccessor)), -1),
                    d3.time.day.offset(d3.max(data.map(xAccessor)), 1)
                ];
                xScale.domain(xExtents).nice();
                gxAxis.transition().duration(500).call(xAxis);

                var yExtents = [0, d3.max(data.map(yAccessor))];
                yScale.domain(yExtents).nice();
                gyAxis.transition().duration(500).call(yAxis);

                //柱形图的矩形
                var barRect = gBar.selectAll('rect').data(data);

                if (barSize === 0 || dateSize > barSize) {
                    barRect
                        .enter()
                        .append('rect')
                        .attr('class', 'bar-item')
                        .attr('x', function (d) {
                            return xScale(xAccessor(d));
                        })
                        .attr('y', yStart)
                        .attr('width', xEnd / dateSize / 2)
                        .attr('height', 0) // 高度先设为 0 
                        .attr('fill', 'rgb(31, 119, 180)');

                    barRect
                        .transition()
                        .duration(500)
                        .delay(function (d, i) {
                            return i * 66;
                        })
                        .attr('x', function (d) {
                            return xScale(xAccessor(d));
                        })
                        .attr('y', function (d) {
                            return yScale(yAccessor(d));
                        })
                        .attr('width', xEnd / dateSize / 2)
                        .attr('height', function (d) {
                            return yStart - yScale(yAccessor(d));
                        });
                } else {
                    var rectSize = barRect.exit().size();

                    barRect
                        .transition()
                        .duration(500)
                        .delay(function (d, i) {
                            return (rectSize - i) * 66;
                        })
                        .attr('x', function (d) {
                            return xScale(xAccessor(d));
                        })
                        .attr('y', function (d) {
                            return yScale(yAccessor(d));
                        })
                        .attr('width', xEnd / dateSize / 2)
                        .attr('height', function (d) {
                            return yStart - yScale(yAccessor(d));
                        });

                    barRect
                        .exit()
                        .attr('opacity', '1')
                        .transition()
                        .duration(500)
                        .delay(function (d, i) {
                            return (rectSize - i) * 66;
                        })
                        .attr('x', function (d) {
                            return xScale(xExtents[1]) + 50;
                        })
                        .attr('opacity', '0')
                        .remove();
                }



            }
            drawBar(data_1);

            d3.select('#data1').on('click', function () {
                drawBar(data_1);
            });
            d3.select('#data2').on('click', function () {
                drawBar(data_2);
            });
        </script>
    </body>

</html>